<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
  <div class="container">
    <div class="breadcrumb-area">
      <h1>Movie Review System</h1>
    </div>
  </div>
</div>
<!-- Sub Banner end -->

<!-- Booking flow start -->
<div class="booking-flow content-area-10">
  <div class="container">
    <div>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12">
                <!-- Search area box 2 start -->
                <div class="search-area-box-2 search-booking-box bg-grey">
                  <div class="search-contents">
                    <div class="search-your-rooms">
                      <h2 class="hidden-xs hidden-sm">詳細検索</h2>
                    </div>

                    <div class="search-your-details">
                      <%= search_form_for @q, url: search_path, html: {method: :post} do |sf| %>
                        <h5>映画の名前</h5>
                        <div class="form-group">
                          <%= sf.search_field :name_cont, class: "btn-default datepicker", placeholder: "名前を入力" %>
                        </div>

                        <h5>レート</h5>
                        <div class="form-group">
                          <%= sf.search_field :rate_score_gteq, class: "btn-default datepicker", placeholder: "最小" %>
                        </div>

                        <div class="form-group">
                          <%= sf.search_field :rate_score_lteq, class: "btn-default datepicker", placeholder: "最大" %>
                        </div>

                        <h5>公開日</h5>
                        <div class="form-group">
                          <%= sf.date_field :date_gteq, class: "btn-default datepicker" %>
                        </div>

                        <h5>俳優</h5>
                        <div class="form-group">
                          <%= sf.search_field :actors_name_cont, class: "btn-default datepicker", placeholder: "俳優の名前"%>
                        </div>

                        <div class="form-group">
                          <%= sf.submit "検索", class: "search-button btn-theme" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- Search area box 2 end -->
              </div>
              <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="row">
                  <div class="col-lg-12"><h3 class="booking-heading-2 black-color">トップランキング</h3></div>
                  <div class="row" style="margin-left: 10px">
                    <% if @top_movies.blank? %>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="margin-left-18">「<%= @q.name_cont %>」に一致する結果はありませんでした。</p>
                      </div>
                    <% else %>
                      <%= render @top_movies %>
                      <div style="margin-left: 40px">
                        <%= will_paginate @top_movies %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Booking flow end -->

  <!-- Footer start -->
  <footer class="main-footer clearfix">
    <div class="container">
      <!-- Footer info-->
      <div class="footer-info">
        <div class="row">
          <!-- About us -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-logo">
                <%= link_to image_tag("white-logo.png") %>
              </div>
              <% if user_signed_in? %>
                <h3>Hello, <%= current_user.email %></h3>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "サインイン", new_user_session_path %>
                <%= link_to "サインアップ", new_user_registration_path %>
              <% end %>
              <p>Lorem ipsum dolor sit amet, conser adipiscing elit. Maecenas in pulvinar neque. Nulla finibus
                lobortis
                pulvinar. Donec a conser nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi
                tincidunt.
                Aliquam erat volutpat. Curabitur convallis fringilla diam.</p>
            </div>
          </div>
          <!-- Contact Us -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="main-title-2">
                <h1>Contact Us</h1>
              </div>
              <ul class="personal-info">
                <li>
                  <i class="fa fa-map-marker"></i>
                  Address: 44 New Design Street,
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  Email:<a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  Phone: <a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                </li>
                <li>
                  <i class="fa fa-fax"></i>
                  Fax: +0477 85X6 552
                </li>
              </ul>
              <div class="clearfix"></div>
              <ul class="social-list">
                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Gallery -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item gallery">
              <div class="main-title-2">
                <h1>Gallery</h1>
              </div>
              <ul>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img-2.jpg" alt="small-img-2">
                  </a>
                </li>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img-4.jpg" alt="small-img-4">
                  </a>
                </li>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img-5.jpg" alt="small-img-5">
                  </a>
                </li>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img-3.jpg" alt="small-img-3">
                  </a>
                </li>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img-6.jpg" alt="small-img-6">
                  </a>
                </li>
                <li>
                  <a href="gallery-3column.html">
                    <img src="img/room/small-img.jpg" alt="small-img">
                  </a>
                </li>

              </ul>
            </div>
          </div>
          <!-- Newsletter -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item newsletter">
              <div class="main-title-2">
                <h1>Newsletter</h1>
              </div>
              <div class="newsletter-inner">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                  est
                  laborum.</p>
                <form action="#" method="GET">
                  <p><input type="text" class="form-contact" name="email" placeholder="Enter your email"></p>
                  <p>
                    <button type="submit" name="submitNewsletter" class="btn btn-small">
                      Signup
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end -->

  <!-- Copy right start -->
  <div class="copy-right">
    <div class="container">
      &copy; 2017 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the
      property of their respective owners.
    </div>
  </div>
</div>
<!-- Copy end right-->
<%= render "movies/new_movie" %>
