<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="hotel-box">
    <!--header -->
    <div class="header clearfix">
      <div class="pr">
      </div>
      <%#= link_to image_tag("phim3.jpg", class: "img-responsive") %>
      <%= image_tag movie.picture_url, class: "img-movie" %>

    </div>
    <!-- Detail -->
    <div class="detail ">
      <h3>
        <div>
          <%= link_to movie.name, movie_path(movie.id) %>
        </div>


      </h3>
      <h5 class="location">
        <a href="rooms-details.html">
          <i class="fa fa-calendar"></i>
          <%= movie.date.year %>年<%= movie.date.month %>月<%= movie.date.day %>日
        </a>
      </h5>

      <br/>
      <div class="btn btn-sm btn-theme next-step">
        <%= link_to "詳細", movie_path(movie.id) %>
      </div>
    </div>
  </div>
</div>
