<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <div class="hotel-box">
    <!--header -->
    <div class="header clearfix">
      <%= link_to movie_path(movie.id) do %>
        <%= image_tag movie.picture_url, class: "img-movie" %>
      <% end %>

    </div>
    <!-- Detail -->
    <div class="detail ">
      <h3 style="height: 40px">
        <%= link_to movie.name[0..10], movie_path(movie.id) %>
      </h3>
      <h5 class="location">
        <i class="fa fa-star checked"></i>
        <%= movie.rate_score %>
      </h5>
      <h5 class="location">
        <i class="fa fa-calendar"></i>
        <%= movie.date.year %>年<%= movie.date.month %>月<%= movie.date.day %>日
      </h5>
    </div>
  </div>
</div>
