<div class="search-area-box-2 search-booking-box bg-grey">
  <div class="search-contents">
    <div class="search-your-rooms">
      <h3 class="hidden-xs hidden-sm">詳細検索</h3>
    </div>

    <div class="search-your-details">
      <%= search_form_for @q, url: search_path, html: {method: :post} do |sf| %>
      <h5>映画名</h5>
      <div class="form-group">
        <%= sf.search_field :name_cont, class: "btn-default datepicker", placeholder: "映画名" %>
      </div>

      <h5>レート</h5>
      <div class="form-group">
        <%= sf.number_field :rate_score_gteq, class: "btn-default datepicker", placeholder: "～星以上", max: 5,min: 0 %>
      </div>

      <div class="form-group">
        <%= sf.number_field :rate_score_lteq, class: "btn-default datepicker", placeholder: "～星以下",max: 5,min: 0 %>
      </div>

      <h5>公開日</h5>
      <div class="form-group">
        <%= sf.date_field :date_gteq, class: "btn-default datepicker" %>
      </div>

      <h5>俳優名</h5>
      <div class="form-group">
        <%= sf.search_field :actors_name_cont, class: "btn-default datepicker", placeholder: "俳優名" %>
      </div>

      <div class="form-group">
        <%= sf.submit "検索", class: "search-button btn-theme" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
