


  <!-- Modal -->
  <div id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">映画情報</h4>
        </div>
        <div class="modal-body">
            <%= nested_form_for @movie_new do |f| %>
              <div class="form-group">
                <label for="exampleInputEmail1">映画名 (*)</label>
                <%= f.text_field :name, class: "form-control",placeholder:"映画名", :required => true %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">作品情報 (*)</label>
                <%= f.text_area :info, class: "form-control",placeholder:"作品情報", :required => true,:size => "20x5" %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">公開日 (*)</label>
                <%= f.date_field :date, class: "form-control", :required => true %>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">ジャンル (*)</label>
                <%= f.select :category, Cat.all.map{ |c| [c.name, c.id] },
                {},
                {class: "form-control"} %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">製作国 (*)</label>
                <%= f.select :nation, Nation.all.map{ |c| [c.name, c.id] },
                {},
                {class: "form-control"} %>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">上映時間 (*)</label>
                <%= f.number_field :duration, class: "form-control",placeholder:"上映時間", :required => true %>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">トレーラー (*)</label>
                <%= f.text_field :trailer, class: "form-control",placeholder:"トレーラーのURL", :required => true %>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">写真</label>
                <%= f.file_field :picture %>
              </div>

              <br>
              <div class="form-group" id="f1">
                <label for="exampleInputPassword1">キャスト (*)</label>
                <%= f.fields_for :characters do |task_form| %>
                  <%= task_form.text_field :name,placeholder:"俳優名", onclick: "change_cast()" %>
                  <%= task_form.text_field :role,placeholder:"ロール"%>
                  <br>
                  <%= task_form.link_to_remove "削除" %>
                <% end %>
                <p><%= f.link_to_add "キャストを追加", :characters %></p>
              </div>
              <%= f.submit "完了" %>
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <% end %>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>

    </div>
  </div>

</div>

<script>
    $(document).ready(function () {
        $('#image1').attr('src');
        console.log($('#image1').attr('src'));
        $('input[name="movie[picture]"]').on('change',function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image1').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        })
    })
</script>
<script type="text/javascript">
  var id_cast = 0;
</script>

<div class="FixedHeightContainer" id="user-div">
  <div class="input-group c-search">
    <input type="text" class="form-control" id="contact-list-search" placeholder=" &#x1F50D;       俳優名" autofocus>
  </div>
  <div class="Content">
    <li class="list-group-item" style="    border-top-right-radius: 0px;
    border-top-left-radius: 0px;" >
    <h4>
      &ensp;<i class="fa fa-plus" aria-hidden="true"></i>
      <a href="#">&ensp;&ensp;&ensp;俳優を追加</a>
    </h4>
    </li>
    <ul class="list-group" id="contact-list">
      <% Actor.all.each do |user| %>
      <li class="list-group-item" style="    border-top-right-radius: 0px;
    border-top-left-radius: 0px;" >
        <table >
          <tr>
            <td width="70">
              <!-- <img src="https://res.cloudinary.com/gtm2018/image/upload/v1533282145/group.jpg" class="img" > -->
              <%= link_to image_tag("#{user.picture}.jpeg", class: "img") %>
            </td>
            <td width="200">
              <span class="name">
                <a  onclick="alert_link(<%= user.id %>,'<%=user.name%>')">
                  <%= user.name %>
                </a>
              </span><br/>
            </td>
          </tr>
        </table>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  function alert_link(id, name){
    // document.getElementById(id).value = "My value";
    var list = document.getElementById("f1").children;
    var y = list[1].children;
    y[y.length-2].children[0].value = name;
    var x = document.getElementById('user-div');
    x.style.display = 'none';
  }
  function change_cast(){
    var x = document.getElementById('user-div');
    x.style.display = 'inline';
    var x = document.getElementById('contact-list-search');
    x.value = "";
  }
</script>
<style type="text/css">




        .c-search > .form-control {
         border-radius: 0px;
         border-width: 2px;

         /*margin: 3px;*/
         border-bottom-width: 1px;
         font-size: 1.3em;
         padding: 12px 12px;
         height: 44px;
         /*outline: none !important;*/
     }
     .c-search > .form-control:focus {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none;
    }
    .c-search > .input-group-btn .btn {
     border-radius: 0px;
     border-width: 0px;
     border-left-width: 1px;
     border-bottom-width: 1px;
     height: 44px;
 }


.name {
    font-size: 1em;
    font-weight: 700;
}
</style>
<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        /* BOOTSNIPP FULLSCREEN FIX */
        if (window.location == window.parent.location) {
            $('#back-to-bootsnipp').removeClass('hide');
        }


        $('[data-toggle="tooltip"]').tooltip();

        $('#fullscreen').on('click', function(event) {
            event.preventDefault();
            window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
        });
        $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
            event.preventDefault();
            $('#cant-do-all-the-work-for-you').modal('show');
        })

        $('[data-command="toggle-search"]').on('click', function(event) {
            event.preventDefault();
            $(this).toggleClass('hide-search');

            if ($(this).hasClass('hide-search')) {
                $('.c-search').closest('.row').slideUp(100);
            }else{
                $('.c-search').closest('.row').slideDown(100);
            }
        })

        $('#contact-list').searchable({
            searchField: '#contact-list-search',
            selector: 'li',
            childSelector: '.name',
            show: function( elem ) {
                elem.slideDown(100);
            },
            hide: function( elem ) {
                elem.slideUp( 100 );
            }
        })
    });

</script>
