<%= will_paginate @movies %>
<table class="table table-hover">
    <thead>
      <tr class="danger">
        <th>Name</th>
        <th>Picture</th>
        <th>Info</th>
        <th>Date</th>
        <th>Movie delete</th>
        <th>Movie Edit</th>
      </tr>
    </thead>
    <tbody>
       <% @movies.each do |movie| %>
      <tr class="success">
        <td><%= link_to movie.name, movie %></td>
        <td><%= link_to movie.picture, movie%></td>
        <td><%= link_to movie.info, movie %></td>
        <td><%= link_to movie.date, movie %></td>
        <td><button type="button" class="btn btn-danger"><%= link_to "Delete", movie, method: :delete,
                                  data: { confirm: "Are You sure?" } %>
  <% end %>
  </button></td>
        <td><button type="button" class="btn btn-success">Edit</button></td>
      </tr>
    </tbody>
  </table>
<%= will_paginate @movies %>
