<%= will_paginate @movies %>
<table class="table table-hover">
    <thead>
      <tr class="danger">
        <th>映画名</th>
        <th>映画情報</th>
        <th>削除</th>
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
       <% @movies.each do |movie| %>
      <tr class="success">
        <td><%= link_to movie.name, movie %></td>
        <td><%= link_to movie.info[0..100], movie %></td>
        <td><button type="button" class="btn btn-danger"><%= link_to "削除", movie, method: :delete, data: { confirm: "この映画を削除しますか。" } %>
            </button>
        </td>
        <td>
          <%= link_to "編集", edit_movie_path(movie.id), class: "btn btn-success" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<%= will_paginate @movies %>
