<center><h1> コメント一覧 </h1></center>

<div class="container">
<%= will_paginate @reviews %>
<table class="table table-hover">
    <thead>
      <tr class="danger">
        <th style="padding-left: 70px;">ユーザーネーム</th>
        <th style="padding-left: 70px;">映画名</th>
        <th style="padding-left: 70px;">コメント内容</th>
        <th style="padding-left: 30px;">レート</th>
        <th class="text-center">削除</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <%  @rate = Rate.find_by movie_id: review.movie.id, user_id: review.user.id %>
      <tr class="success">
        <td style="padding-left: 70px;"><%= link_to review.user.name, review.user %></td>
        <td style="padding-left: 70px;"><%= link_to review.movie.name, review.movie %></td>
        <td style="padding-left: 70px;"><%= review.content %></td>
        <td style="padding-left: 70px;"><%= @rate.rate %></td>
        <td class="text-center"><button type="button" class="btn btn-danger" style="width: 130px;"><%= link_to "削除", commentdelete_path((id: review.id), method: :delete, data: { confirm: "このコメントを削除しますか。" } %>
            </button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @reviews %>
</div>
