
<div id="edit-user" class="tab-pane active">
    <div class="col-md-12 personal-info">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            Edit Profile
        </div>
        <h3>Personal info</h3>
        <%= form_for(@user, :html => {:class => 'form-horizontal form-edit'}) do |f| %>
        <!-- <form class="form-horizontal form-edit" role="form"> -->
        <div class="form-group">
            <label class="col-lg-3 control-label">Full name:</label>
            <div class="col-lg-8">
                <%= f.text_field :name, class: 'form-control' %>


            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
                <%= f.text_field :email, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
                <%= f.text_field :address, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Hobby:</label>
            <div class="col-lg-8">
                <%= f.text_field :hobby, class: 'form-control' %>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Phone Number:</label>
            <div class="col-lg-8">
                <%= f.text_field :phone_number, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Avatar:</label>
            <div class="col-lg-8">
                <%= f.file_field :picture %>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <%= f.submit yield(:button_text), class: "btn btn-primary" %>
            </div>
        </div>
        <!-- </form> -->
        <% end %>

    </div>
</div>
