<div  id="photos-tab" class="tab-pane">
    <div class="pd-20">
        <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i>
            ABOUT</h3>
            <div class="row">
                <div class="col-md-12 about">

                    <div class="col-sm-12 padding-user">
                        <div class="row mgbt-xs-0">
                            <label class="col-xs-5 control-label">Full name:</label>
                            <div class="col-xs-7 controls"><%= @user.name %></div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-user">
                        <div class="row mgbt-xs-0">
                            <label class="col-xs-5 control-label">Email:</label>
                            <div class="col-xs-7 controls"><%= @user.email %></div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-user">
                        <div class="row mgbt-xs-0">
                            <label class="col-xs-5 control-label">Address:</label>
                            <div class="col-xs-7 controls"><%= @user.address %></div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-user">
                        <div class="row mgbt-xs-0">
                            <label class="col-xs-5 control-label">Hobby:</label>
                            <div class="col-xs-7 controls"><%= @user.hobby %></div>
                        </div>
                    </div>

                    <div class="col-sm-12 padding-user">
                        <div class="row mgbt-xs-0">
                            <label class="col-xs-5 control-label">Phone number:</label>
                            <div class="col-xs-7 controls"><%= @user.phone_number %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
