<header class="main-header main-header-4">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="index.html" class="logo">
          <%= link_to image_tag("logo3.png") %>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">

        <ul class="nav navbar-nav">
          <li>
            <a id="header-search-btn"></a>
          </li>
          <li>
            <%= link_to "ホーム", root_path %>
            <!-- <a href="https://anime-review-danghai.c9users.io" id="header-search-btn">ホーム</a> -->
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">製作国 <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row" style="width: 500px; ">
                  <% 3.times do |i|%>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown" style="font-size: 10px;">
                      <% 5.times do |j| %>
                        <% cat = Nation.find(i*5+(j+1)) %>
                        <li><a href="#"><%= cat.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                </div>
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ジャンル <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row" style="width: 500px; ">
                  <% 3.times do |i|%>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown" style="font-size: 10px;">
                      <% 5.times do |j| %>
                        <% cat = Cat.find(i*5+(j+1)) %>
                        <li><a href="#"><%= cat.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                </div>
            </ul>
          </li>
          <% first_year = 2018 %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">製作年 <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row" style="width: 500px; ">
                  <% 3.times do |i|%>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown" style="font-size: 10px;">
                      <% 5.times do |j| %>
                        <% cat = (i*5+j) %>
                        <li><a href="#"><%= first_year - cat %></a></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                </div>
            </ul>
          </li>
          <li>
            <%#= search_form_for @q, url: {controller: "static_pages", action: "search"}, html: {method: :post} do |sf| %>
            <%= search_form_for @q, url: search_path, html: {method: :post} do |sf| %>
              <%= sf.search_field :name_cont, class: "btn-navbar btn btn-sm btn-theme-sm-outline btn-round",
                placeholder: "映画を検索",style: "width: 300px;" %>
            <% end %>
          </li>
          <li>
            <a id="header-search-btn" class="btn-navbar search-icon"><i class="fa fa-search"></i></a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">

          <% if user_signed_in? %>
            <% if current_user.role == "admin" %>
              <% noti = Movie.where(check: 0).count %>
              <% movies = Movie.where(check: 0).order(created_at: :desc).first(3) %>
              <% if noti != 0 %>
              <li class="nav-item dropdown">
                    <a class="nav-link text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bell"><sup><%= noti %></sup></i>
                    </a>
                      <ul class="dropdown-menu">
                        <li class="head text-light bg-dark">
                          <div class="row">
                        </li>
                        <% movies.each do |movie| %>
                        <li class="notification-box">
                          <div class="row">

                              <div class="col-lg-3 col-sm-3 col-3 text-center">
                                <%= link_to image_tag(movie.picture.url, class: "w-50 pic-rz rounded-circle", size: "45x45"), movie_path(movie) %>
                              </div>

                              <div class="col-lg-3 col-sm-3 col-3">
                                <p><%= link_to movie.name, movie_path(movie) %></p>
                              </div>

                          </div>
                        </li>
                        <% end %>
                        <li class="footer bg-dark text-center">
                          <a href="http://localhost:3000/admin/suggest_list" class="text-light">View All</a>
                        </li>
                      </ul>
                  </li>
              <% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                <%= current_user.name %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "マイプロフィール", user_path(current_user.id) %>
                </li>

                <li>
                  <% if current_user.role == "member" %>
                    <%= link_to "映画を勧める", new_movie_path %>
                  <% else %>
                    <%= link_to "映画を追加", new_movie_path %>
                  <% end %>
                </li>
                  <hr>
                <% if current_user.role == "admin" %>
                  <li><%= link_to "オススメ映画一覧", admin_suggest_list_path %></li>
                  <li><%= link_to "映画一覧", admin_index_path %></li>
                  <li><%= link_to "ユーザー一覧", admin_user_path %></li>
                <% end %>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li>
              <!--<a id="header-search-btn" >sign up</a>-->
              <%= link_to "サインイン", new_user_session_path %>
            </li>
            <li>
              <!--<a id="header-search-btn" >login</a>-->
              <%= link_to "サインアップ", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="header-search animated fadeInDown">
      <form class="form-inline">
        <input type="text" class="form-control" id="searchKey" placeholder="Search...">
        <div class="search-btns">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </form>
    </div>
  </div>
</header>
<%= render "movies/new_movie" %>
